 .sticky-content {
     min-height:150px;
     padding:5px;
     background-color: white;
     color: black;
     font-size: 17px;
     font-weight: bold;
 }

 /** The header, (where trash and saved/unsaved is located); change background **/
 .sticky-header {
     padding:5px;
     background:#F2F2F2;
     border-bottom:1px solid #DFDFDF;
     box-shadow:0 3px 5px rgba(0,0,0,0.25);
     -webkit-box-shadow:0 3px 5px rgba(0,0,0,0.25);
     -moz-box-shadow:0 3px 5px rgba(0,0,0,0.25);
     border-radius: 8px 8px 0 0;
 }

 .sticky-footer {
     padding:5px;
     background:#F2F2F2;
     color: gray;
     border-top:1px solid #DFDFDF;
     box-shadow:0 3px 5px rgba(0,0,0,0.25);
     -webkit-box-shadow:0 3px 5px rgba(0,0,0,0.25);
     -moz-box-shadow:0 3px 5px rgba(0,0,0,0.25);
     border-radius: 0 0 8px 8px;
 }

 .sticky-title {
     font-family: Roboto-Medium;
     color: black;
     padding:5px;
     position: absolute;
     padding-top: 25px;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%)
 }
 
/** Trash **/
 .close-sticky {
     float:left;
     cursor:default;
     color:#167FFC;
     padding:1px 5px;
     border-radius:20px;
     -webkit-border-radius:20px;
     -moz-border-radius:20px;
     font-weight: bold;
 }